
FourJobFiesta/bin/Debug/FourJobFiesta.exe
FourJobFiesta/bin/Debug/FourJobFiesta.exe.Config
FourJobFiesta/bin/Debug/FourJobFiesta.pdb
FourJobFiesta/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FourJobFiesta/obj/Debug/FourJobFiesta.csproj.FileListAbsolute.txt
FourJobFiesta/obj/Debug/FourJobFiesta.csproj.GenerateResource.cache
FourJobFiesta/obj/Debug/FourJobFiesta.csprojAssemblyReference.cache
FourJobFiesta/obj/Debug/FourJobFiesta.exe
FourJobFiesta/obj/Debug/FourJobFiesta.FormFourJobFiesta.resources
FourJobFiesta/obj/Debug/FourJobFiesta.pdb
FourJobFiesta/obj/Debug/FourJobFiesta.Properties.Resources.resources
FourJobFiesta/obj/Debug/FourJobFiesta.TimerShortcuts.resources
FourJobFiesta/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/FourJobFiesta/v16/.suo
.vs/FourJobFiesta/v16/Server/sqlite3/db.lock
.vs/FourJobFiesta/v16/Server/sqlite3/storage.ide
.vs/FourJobFiesta/v16/Server/sqlite3/storage.ide-shm
.vs/FourJobFiesta/v16/Server/sqlite3/storage.ide-wal
.vs/FourJobFiesta/v16/TestStore/0/000-0000.testlog
.vs/FourJobFiesta/v16/TestStore/0/testlog.manifest
